
@{
    //ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div class="content-heading row">
    <div>
        <h1 class="lable">Dashboard</h1>
        <hr />
    </div>
</div>